{% extends "page.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script type="text/javascript">
        const data = {{tabledata|safe}};
        const urls = {{urls|safe}};

        function truncateString(str, num) {
            if (str.length > num) {
                return str.slice(0, num) + '...';
            } else {
                return str;
            }
        }

        document.addEventListener("DOMContentLoaded", function () {

            new gridjs.Grid({
                columns: [
                    {
                        name: "ID",
                        formatter(cell) {
                            return gridjs.html(`
                        <form action="/admin/mark" method="post">
                            <input type="checkbox" name="id" value="${cell}">
                        </form>
                        `);
                        }
                    },
                    {
                        name: "Title",
                        formatter: (cell) => gridjs.html(`<a title="${cell}" class="headline" href="${urls[cell]}">${truncateString(cell, 127)}</a>`),
                    },
                    "First Accessed",
                    "Last Accessed",
                    "Index",
                    "XKeyscore",
                ],
                data: data,
                sort: true,
                search: true,
                pagination: true,
                fixexedHeader: true
            }).render(document.getElementById('wrapper'));
        });
    </script>
    <div id="wrapper"></div>
{% endblock content %}