{% extends 'page.html' %}

{% block content %}
    <h1>Topics</h1>
    <div>
        <img src="{{ articles_path }}" alt="Graphs">
        <img src="{{ graphs_path }}" alt="Graphs">
        <img src="{{ today_topic_path }}" alt="Graphs">
    </div>
    <style>
        .tabs {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        .tabs button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        .tabs button:hover {
            background-color: #ddd;
        }

        .tabs button.active {
            background-color: #ccc;
        }

        .tab-content {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .tab-content h2 {
            margin-top: 0;
        }
    </style>
    <script type="text/javascript">
        function openTab(evt, tabName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>

    <div class="tabs">
        {% for topic in topics %}
            <button class="tab-link" onclick="openTab(event, '{{ topic.name }}')">{{ topic.name }}</button>
        {% endfor %}
    </div>
    {% set topic = topics[0] %}
    <div id="{{ topic.name }}" class="tab-content active" style="display:block">
        <h2 style="text-align: center;"><a href="{{ topic.name.replace(' ', '_') }}.html">{{ topic.name }}</a></h2>
        <img src="{{ topic.wordcloud }}" alt="{{ topic.title }} Wordcloud">
        <img src="{{ topic.graph }}" alt="{{ topic.title }} Graph">
    </div>
    {% for topic in topics[1:] %}
        <div id="{{ topic.name }}" class="tab-content">
            <h2 style="text-align: center;"><a href="{{ topic.name.replace(' ', '_') }}.html">{{ topic.name }}</a></h2>
            <img src="{{ topic.wordcloud }}" alt="{{ topic.title }} Wordcloud">
            <img src="{{ topic.graph }}" alt="{{ topic.title }} Graph">
        </div>
    {% endfor %}
{% endblock %}