{% extends "page.html" %}

{% block content %}
<h1>{{ title }}</h1>
<img alt="{{ title }}" src="{{ wordcloud }}">
<h2>Credibility: {{ credibility }}</h2>
<h2>Bias: {{ bias }}</h2>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {
            const data = {{tabledata|safe}};
            const urls = {{urls|safe}};

            document.getElementById('maintable').remove()

            new gridjs.Grid({
                columns: [
                    {
                        name: "Title",
                        formatter: (cell) => gridjs.html(`<a href="${urls[cell]}">${cell}</a>`),
                    },
                    "First Accessed",
                    "Last Accessed",
                    {
                        name: "Headline",
                        formatter: (cell) => gridjs.html(`<span>${cell} ${determineSmiley(cell)}</span>`),
                        attributes: (cell) => {
                            return {
                                style: `background-color: ${getColorForValue(cell)}; text-align: center;`
                            }
                        }
                    },
                    {
                        name: "Article",
                        formatter: (cell) => gridjs.html(`<span>${cell} ${determineSmiley(cell)}</span>`),
                        attributes: (cell) => {
                            return {
                                style: `background-color: ${getColorForValue(cell)}; text-align: center;`
                            }
                        },
                        sort: {
                            compare: nacompare
                        }

                    }
                ],
                data: data,
                sort: true
            }).render(document.getElementById('wrapper'));
        });
    </script>
<div id="wrapper"></div>
<table id="maintable">
    <thead>
    <tr>
        <th>Article</th>
        <th>First Accessed</th>
        <th>Last Accessed</th>
        <th>Headline Pos</th>
        <th>Neg</th>
        <th>Neu</th>
        <th>Compound</th>
        <th>Article Pos</th>
        <th>Neg</th>
        <th>Neu</th>
        <th>Compound</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
    <tr>
        <td><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></td>
        <td>{{ article.first_accessed | date }}</td>
        <td>{{ article.last_accessed | date }}</td>
        <td>{{ article.headpos | round(2) }}</td>
        <td>{{ article.headneg | round(2) }}</td>
        <td>{{ article.headneu | round(2) }}</td>
        <td>{{ article.headcompound | round(2)}}</td>
        {% if headline_only %}
        <td colspan="4">Headline Only</td>
        {% else %}
        <td>{{ article.artpos | round(2)}}</td>
        <td>{{ article.artneg | round(2)}}</td>
        <td>{{ article.artneu | round(2)}}</td>
        <td>{{ article.artcompound | round(2)}}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}