{% extends "page.html" %}

{% block content %}
<h1>{{ title }}</h1>
<img alt="{{ title }}" src="{{ wordcloud }}">
<br><br>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const data = {{tabledata|safe}};
        const urls = {{urls|safe}};

        document.getElementById('maintable').remove()

        new gridjs.Grid({
            columns: [
                {
                    name: "Title",
                    formatter: (cell) => gridjs.html(`<a href="${urls[cell]}">${cell}</a>`),
                },
                "First Accessed",
                "Last Accessed",
                {
                    name: "Sentiment",
                    formatter: (cell) => gridjs.html(`<span>${cell} ${determineSmiley(cell)}</span>`),
                    attributes: (cell) => {
                        return {
                            style: `background-color: ${getColorForValue(cell)}; text-align: center;`
                        }
                    }
                },
            ],
            data: data,
            sort: true
        }).render(document.getElementById('wrapper'));
    });
</script>
<h3>All articles were available on the homepage as of last update</h3>
<div id="wrapper"></div>
<table id="maintable">
    <thead>
    <tr>
        <th>Article</th>
        <th>First Accessed</th>
        <th>Last Accessed</th>
        <th>Positive</th>
        <th>Negative</th>
        <th>Neutral</th>
        <th>Compound</th>
    </tr>
    </thead>
    <tbody>
    {% for headline in headlines %}
    <tr>
        <td><a href="{{ headline.article.url }}" target="_blank">{{ headline.title }}</a></td>
        <td>{{ headline.first_accessed | date }}</td>
        <td>{{ headline.last_accessed | date }}</td>
        <td>{{ headline.pos | round(2) }}</td>
        <td>{{ headline.neg | round(2) }}</td>
        <td>{{ headline.neu | round(2) }}</td>
        <td>{{ headline.comp | round(2)}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}