{% extends "page.html" %}

{% block content %}
<img alt="Word Cloud" src="{{ wordcloud }}">
<br><br>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var data = {{tabledata|safe}};
        var urls = {{urls|safe}};

        document.getElementById('maintable').remove()


        new gridjs.Grid({
            columns: [
                {
                    name: "Agency Name",
                    formatter: (cell) => gridjs.html(`<a href="${urls[cell]}">${cell}</a>`),
                },
                {
                    name: "Credibility",
                    formatter: (cell) => credibility[cell],
                },
                {
                    name: "Bias",
                    formatter: (cell) => bias[cell],
                },
                {
                    name: "Sentiment",
                    formatter: (cell) => gridjs.html(`<span>${cell} ${determineSmiley(cell)}</span>`),
                    attributes: (cell) => {
                        return {
                            style: `background-color: ${getColorForValue(cell)}; text-align: center;`
                        }
                    }
                },
            ],
            data: data,
            sort: true
        }).render(document.getElementById('wrapper'));
    });
</script>
<div id="metrics">
    <div class="metric">
        <div class="metric-name">Median Sentiment</div>
        <div class="metric-value">{{metrics['median']|round(2)}}</div>
    </div>
    <div class="metric">
        <div class="metric-name">Mean Sentiment</div>
        <div class="metric-value">{{metrics['mean']|round(3)}}</div>
    </div>
    <div class="metric">
        <div class="metric-name">Partisan Happiness Index</div>
        <div class="metric-value">{{metrics['partisan_mean']|round(3)}}<br>(-left/+right)</div>
    </div>
</div>
<div id="wrapper"></div>
<table id="maintable">
    <thead>
    <tr>
        <th>Agency</th>
        <th>Credibility</th>
        <th>Bias</th>
        <th>Today's Headline Sentiment</th>
        <th>Agency Page</th>
    </tr>
    </thead>
    <tbody>
    {% for agency in agencies %}
    <tr>
        <td><a href="{{ agency.name }}.html">{{ agency.name }}'s Page</a></td>
        <td>{{ agency.credibility }}</td>
        <td>{{ agency.bias }}</td>
        <td>{{ agency.current_compound() | round(2) }}</td>
        <td><a href="{{ agency.url }}">{{ agency.name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
