{% extends "page.html" %}

{% block content %}
<img alt="Word Cloud" src="wordcloud.png">
<h1>Agencies</h1>
<table>
    <thead>
    <tr>
        <th>Agency</th>
        <th>Credibility</th>
        <th>Bias</th>
        <th>Today's Headline Sentiment</th>
        <th>Today's Article Sentiment</th>
        <th>Agency Page</th>
    </tr>
    </thead>
    <tbody>
    {% for agency in agencies %}
    {% set sentiment = agency.todays_compound() %}
    <tr>
        <td><a href="{{ agency.url }}">{{ agency.name }}</a></td>
        <td>{{ agency.credibility }}</td>
        <td>{{ agency.bias }}</td>
        <td>{{ sentiment[0] }}</td>
        <td>{{ sentiment[1] }}</td>
        <td><a href="{{ agency.name }}.html">{{ agency.name }}'s Page</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
