{% extends "page.html" %}

{% block content %}
<img alt="Word Cloud" src="wordcloud.png">
<h1>Agencies</h1>
<script type="text/javascript">


    document.addEventListener("DOMContentLoaded", function () {
        var data = {{tabledata|safe}};
        var urls = {{urls|safe}};

        document.getElementById('maintable').remove()


        new gridjs.Grid({
            columns: [
                {
                    name: "Agency Name",
                    formatter: (cell) => gridjs.html(`<a href="${urls[cell]}">${cell}</a>`),
                },
                {
                    name: "Credibility",
                    formatter: (cell) => credibility[cell],
                },
                {
                    name: "Bias",
                    formatter: (cell) => bias[cell],
                },
                {
                    name: "Headline",
                    formatter: (cell) => gridjs.html(`<span>${cell} ${determineSmiley(cell)}</span>`),
                    attributes: (cell) => {
                        return {
                            style: `background-color: ${getColorForValue(cell)}; text-align: center;`
                        }
                    }
                },
                {
                    name: "Article",
                    formatter: (cell) => gridjs.html(`<span>${cell} ${determineSmiley(cell)}</span>`),
                    attributes: (cell) => {
                        return {
                            style: `background-color: ${getColorForValue(cell)}; text-align: center;`
                        }
                    },
                    sort: {
                        compare: nacompare
                    }

                }
            ],
            data: data,
            sort: true
        }).render(document.getElementById('wrapper'));
    });
</script>
<div id="wrapper"></div>
<table id="maintable">
    <thead>
    <tr>
        <th>Agency</th>
        <th>Credibility</th>
        <th>Bias</th>
        <th>Today's Headline Sentiment</th>
        <th>Today's Article Sentiment</th>
        <th>Agency Page</th>
    </tr>
    </thead>
    <tbody>
    {% for agency in agencies %}
    {% set sentiment = agency.todays_compound() %}
    <tr>
        <td><a href="{{ agency.name }}.html">{{ agency.name }}'s Page</a></td>
        <td>{{ agency.credibility }}</td>
        <td>{{ agency.bias }}</td>
        <td>{{ sentiment[0] | round(2) }}</td>
        {% if not agency.headline_only %}
        <td>{{ sentiment[1] | round(2)}}</td>
        {% else %}
        <td>Headline Only</td>
        {% endif %}
        <td><a href="{{ agency.url }}">{{ agency.name }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}
